<div class="container text-center">
  <div class="col-sm-6">
    <img class="img-responsive" src="/assets/images/chit.gif" alt="">
  </div>
  <div class="col-sm-6">
    <br>
    <br>
    <h3>ChittyChittyChatChat</h3>
    <p class="lead">
      
    </p>
  </div>
</div>